.header {
    background-color: $secondary-color;
    color: $primary-color;
    @include flex-center;
    padding: 1rem;

}

.bg-header {
    background-color: $secondary-color;
}

.img-mascotas {
    max-height: 300px; 
    height: auto; 
    width: 100%;
    object-fit: cover;
}
